@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: "Google Sans";
    src: url("google-sans.ttf");
}

$blue: #1a73e8;
$grey: #5f6368;
$dgrey: #202124;

* {
    font-family: "Google Sans";
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.navbar {
    @include flex;
    justify-content: flex-start;

    background: white;
    box-shadow: 0px 0px 30px rgb(128 128 128 / 0.6);
    height: 7.25%;
    position: fixed;
    width: 100vw;

    .logo {
        @include flex;

        font-size: 2vh;
        height: 40%;
        margin-left: 100px;
        margin-right: 100px;
        width: 20%;
    }

    a {
        @include flex;

        color: $grey;
        cursor: pointer;
        font-size: 1.75vh;
        height: 100%;
        margin-left: 65px;
        margin-right: 65px;

        &:hover {
            color: $dgrey;
        }
    }

    button {
        @include flex;

        background: $blue;
        border: 0px;
        font-size: 1.75vh;
        border-radius: 20px;
        height: 70%;
        width: 30%;
    }

    .try {
        background: white;
        border: 1px solid $grey;
        color: $blue;
        margin-left: 800px;
        margin-right: 45px;
        width: 20%;
    }

    .sign {
        color: white;
        margin-right: 45px;
        width: 7.5%;
    }
}

main {
    @include flex;

    height: 70vh;
    width: 100vw;

    .container {
        @include flex;

        height: 40vh;
        width: 80vw;

        .text {
            @include flex;
            flex-direction: column;
            align-items: flex-start;
            
            height: 100%;
            width: 50%;

            img {
                height: 15%;
                margin-bottom: 4%;
                width: 35%;
            }

            h1 {
                color: black;
                font-size: 6vh;
                font-weight: 800;
                height: 40%;
                line-height: 110%;
            }

            p {
                color: $grey;
                height: 15%;
                font-size: 2vh;
                line-height: 150%;
            }

            .buttons {
                @include flex;
                
                height: 15%;
                justify-content: flex-start;
                margin-top: 5%;
                width: 100%;
    
                button {
                    @include flex;
            
                    background: $blue;
                    border: 0px;
                    font-size: 1.75vh;
                    border-radius: 20px;
                    height: 100%;
                    width: 30%;
                }
            
                .try {
                    background: white;
                    border: 1px solid $grey;
                    color: $blue;
                    margin-right: 45px;
                    width: 50%;
                }
            
                .sign {
                    color: white;
                    margin-right: 45px;
                    width: 25%;
                }
            }
        }

        img {
            height: 90%;
            margin-top: 5%;
            width: 50%;
        }
    }
}

.next {
    font-size: 5vh;
    position: absolute;
    left: 50vw;
    top: 88vh;
}

.help {
    aspect-ratio: 1;
    background: $blue;
    border-radius: 100%;
    bottom: 3vh;
    box-shadow: 0px 10px 20px $grey;
    position: absolute;
    right: 2.5vw;
    width: 4.5vw;
}