@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes flip {
    0% { transform: rotateZ(0deg); }
    50% { transform: rotateZ(180deg); }
    100% { transform: rotateZ(359deg); }
}

* {
    margin: 0;
    padding: 0;
}

.squares {
    @include flex;

    height: 100vh;
    width: 100vw;

    div {
        aspect-ratio: 1;
        height: 10vh;
        margin: 1vh;

        @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
                animation: $i + s infinite flip;
                background: rgb(0 0 calc(200 - $i * 30));
                height: ($i * 5) + vh;
            }
        }
    }
}